# Team Lead
* @RobertWHurst

# Source Reviewers
*.js @rubenmezar @javier-cervantes-3pillarglobal @aviquez-3pillar @RobertWHurst
*.json @rubenmezar @javier-cervantes-3pillarglobal @aviquez-3pillar @RobertWHurst
/src/ @rubenmezar @javier-cervantes-3pillarglobal @aviquez-3pillar @RobertWHurst

# Operations
Dockerfile @sekka1 @mybarretto @RobertWHurst
Dockerfile.* @sekka1 @mybarretto @RobertWHurst
.dockerignore @sekka1 @mybarretto @RobertWHurst
/.github/workflows/ @sekka1 @mybarretto @RobertWHurst
